@import "~bootstrap/scss/functions";
@import  "~bootstrap/scss/variables";
@import  "~bootstrap/scss/mixins/_breakpoints";
@import  "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #25527f;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  min-height: 100vh;
}

body {

  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: 'Roboto';
  color: #333;
}

.cover-container {
  max-width: 80em
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.navbar-brand {
  width: 200px;
} 
.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #25527f !important;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  margin-left: 2rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 50rem;
}

.nav-masthead .active {
  color: #25527f;
  border-bottom-color: #f3c36e;
}

@media (min-width: 48em) {
  .cover-container {
    width: 100vw
  }
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.main-content {
  min-height: 700px;
}
/*
 * Footer
 */
.mastfoot {
  background-color: #25527f;
  height: 100px;
  color: rgba(255, 255, 255, .5);
}



img {
  max-width: '300px';
  height: auto;
}